.bottom-slick-item {
    border-radius: 0 0 20px 20px;
}

.item-logo-slick-prov {
    width: 200px;
    height: 200px !important;
    transition: .5s ease;
    margin: 3rem 0;
}

.item-logo-slick-prov-s {
    width: 150px;
    height: 200px !important;
    transition: .5s ease;
    margin: 3rem 0;
}

.main-item-img:hover .item-logo-slick-prov {
    transform: scale(1.1);
}

.main-item-img:hover .item-logo-slick-prov-s {
    transform: scale(1.1);
}

@media (max-width: 991px) {
    .main-item-img .item-logo {
        width: 120px;
        height: 160px;
    }

    .item-logo-slick-prov {
        width: 160px !important;
        height: 170px !important;
    }
}

@media (max-width: 768px) {
    .main-item-img .item-logo-slick-prov-s {
        width: 70px !important;
        height: 90px !important;
    }

    .item-logo-slick-prov {
        width: 90px !important;
        height: 90px !important;
    }

    .item-logo-slick-prov-s, .item-logo-slick-prov {
        margin: 1.5rem !important;
    }
}

